@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@utility underline-effect {
  position: relative;
  display: inline-block;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: var(--color-primary);
    border-radius: 9999px;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
